.veelBlog {
  width: 85%;
  display: flex;
  flex-direction: column;

}
.veelBolgSection {
  align-content: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: auto;
  background-color:  var(--fourth--color);
  padding: 45px 0 37px 0;
  height: auto;
}
.veelBlogSubHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;

}
.veelBlogHeaderShowAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.rectangle {
  width: 6px;
  height: 32px;
  flex-shrink: 0;
}
.veelBlogHeader {
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  height: 150px;
  margin: 0 0 29px 0;
}

.veelPostCardImg {
  width: 285px;
  height: 191px;
  flex-shrink: 0;
  display: grid;
  border-radius: 15px;
}
.veelPostCard {
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
  height: 350px;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: start;
  align-content: start;
  border-radius: 50%;
}
.blogImgGallery{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow: auto;

}
.imgContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 125px;
}
.CTA iframe{
  border: none;
  width: 60px;
  position: relative;
  top: 30px;
}

.CTA{
  width: max-content;
}
.rectangle1{
  background: url("src/img/blog1.webp") no-repeat center center / cover, lightgray;
  width: 280px;
  border-radius: 15px;

}
.rectangle2{
  background: url("src/img/blog2.webp") no-repeat center center / cover, lightgray;
  width: 280px;
  border-radius: 15px;

}
.rectangle3{
  background: url("src/img/blog3.webp") no-repeat center center / cover, lightgray;
  width: 280px;
  border-radius: 15px;

}
.rectangle4{
  background: url("src/img/blog4.webp") no-repeat center center / cover, lightgray;
  width: 280px;
  border-radius: 15px;
}

.goldenArrows iframe{
  border: none;
  width: 100%;
}
.imgContent p{
  display: flex;
  justify-content: start;
  width: 280px;
}
.imgContent h4{
  display: flex;
  justify-content: start;
  width: 280px;
}
.rectangle {
  width: 6px;
  height: 32px;
  flex-shrink: 0;
}
.right-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow, .right-arrow{
  cursor: pointer;
}
.cursorLine{
  width: 177px;
  height: 1px;
  background: #000;
}
.veelGoldenCursor{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.subHeadingParagraph p {
  font-size: var(--veel--font-size-large);
}
.veelBlogHeaderTitle {
  border-inline-start: solid 6px var(--primary--color);
  padding-inline-start: 9px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.veelBlogHeaderTitle h2{
  color: #000 !important;
  font-size: var(--veel--font-size-xx-large);
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
}
@media screen and (max-width: 430px){
  .veelBlogHeader {
    gap: 0;
    margin: 0;
  }
  .veelBolgSection {
    height: 470px;
    padding: 26px 0 15px;
  }
  .veelBlogHeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blogImgGallery {
    gap: 46px;
  }
}
@media screen and (max-width: 768px){
  .veelBolgSection {
    height: 500px;
    padding: 44px 0 31px;
  }

  .veelBlogSubHeading{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }

}
