.developerHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.veelDevelopersHeaderShowAll {
  display: flex;
  gap: 8px;
  align-items: center;
}
.veelDevelopersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.veelDevelopersHeaderTitle h2 {
  color: #000 !important;
  font-size: var(--veel--font-size-xx-large);
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
}
.veelDevelopersHeaderTitle {
  align-items: center;
  border-inline-start: solid 6px var(--primary--color);
  display: flex;
  height: 32px;
  padding-inline-start: 9px;
}
.developersImg {
  width: 150px;
  height: 150px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.veelDeveloperGallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.veelDeveloperGallery::-webkit-scrollbar {
  display: none;
}
.veelDevelopersSection {
  width: 85%;
  margin: auto;
  padding: 35px 0;
}
.showAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.developerIcons{
  display: flex;
  height: 279px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  overflow: auto;
}

.circle{
  width: 130px;
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 8px solid #F8F5ED;
}
.developersCursor iframe{
  border: none;
  width: 100%;
}
.developersImg{
  border: #F8F5ED solid 10px;
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  flex: none;
  margin-inline-end: 20px;
}
.veelDeveloperGallery{
  display: flex;
}
.veelDeveloperGallery::-webkit-scrollbar{
  display: none;
}
.rectangle{
  width: 6px;
  height: 32px;
  flex-shrink: 0;
  background: var(--primary--color);
}
.developersH2{
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow, .right-arrow{
  cursor: pointer;
}
.cursorLine{
  width: 177px;
  height: 1px;
  background: #000;
}
.veelGoldenCursor{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .veelDevelopersHeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .rectangle {
    width: 100% !important;
  }
}
