.veel-testimonial-container {
  width: 1037px;
  height: 406px;
  position: relative;
  margin: 0 auto;
}

.veel-testimonial-solider-layer {
  width: 100%;
  height: 118px;
  background: #BCB8B7;
  position: absolute;
  top: 40%;
  right: 0;
}
.veel-testimonial-background-layer {
  width: 1009px;
  height: 198px;
  background: #231F20;
  border-radius: 6px;
  position: absolute;
  top: 114px;
  left: 13px;
}

.veel-header-text {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: black;
  line-height: 71px;
}

.veel-testimonial-subtext {
  width: 100%;
  position: absolute;
  top: 73px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 22px;
}

.veel-testimonial-box {
  display: none; /* جميع الشهادات مخفية افتراضيًا */
  position: relative;
  top: 75px;
  right:120px;
  width: 713px;
  height: 64px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.veel-testimonial-box.active {
  display: block; /* إظهار الشهادة الفعالة */
}


.veel-testimonial-author {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 160px;
  right: 0;
  text-align: right;
}

.veel-author-testimonial-name {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.veel-author-position {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.veel-testimonial-arrows {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: 96px;
}

.veel-testimonial-arrow {
  width: 41px;
  height: 41px;
  background: var(--primary--color);
  border-radius: 6px;
  position: relative;
}

.veel-left-arrow::before, .veel-right-arrow::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.veel-left-arrow::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.veel-right-arrow::before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.veel-decor {
  position: absolute;
  bottom: 20px;
  left: 166px;
  display: flex;
  align-items: center;
}

.veel-decor-line {
  width: 47px;
  height: 6px;
  background-color: #D9D9D9;
  margin-inline-start: 10px;
  gap: 5px;
}

.veel-decor-highlight {
  width: 47px;
  height: 6px;
  background-color: var(--primary--color);
}

/* استعلامات الوسائط للشاشات المتوسطة (مقاس 1024 بكسل) */
@media (max-width: 1024px) {
  .veel-testimonial-container {
    width: 900px;
    height: 450px;
  }

  .veel-testimonial-background-layer {
    width: 860px;
    height: 220px;
    top: 130px;
    left: 20px;
  }

  .veel-header-text {
    width: 100%;
    left: 100px;
    font-size: 32px;
  }

  .veel-testimonial-subtext {
    top: 85px;
    font-size: 15px;
  }

  .veel-testimonial-box {
    width: 600px;
    height: 70px;
    top: 100px;
    left: 150px;
    font-size: 18px;
  }

  .veel-testimonial-author {
    top: 160px;
    right: 80px;
  }

  .veel-author-testimonial-name, .veel-author-position {
    font-size: 14px;
  }

  .veel-testimonial-arrows {
    bottom: 20px;
    left: 20px;
    width: 80px;
  }
  .veel-decor {
    position: absolute;
    bottom: 20px;
    left: 140px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

/* استعلامات الوسائط للشاشات الصغيرة (مقاس 768 بكسل) */
@media (max-width: 768px) {
  .veel-testimonial-container {
    width: 700px;
    height: 350px;
  }
  .veel-decor {
    position: absolute;
    bottom: 20px;
    left: 110px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .veel-testimonial-background-layer {
    width: 660px;
    height: 180px;
    top: 110px;
    left: 20px;
  }

  .veel-header-text {
    width: 100%;
    left: 80px;
    font-size: 28px;
  }

  .veel-testimonial-subtext {
    top: 70px;
    font-size: 14px;
  }

  .veel-testimonial-box {
    width: 500px;
    height: 60px;
    top: 65px;
    left: 100px;
    font-size: 16px;
  }

  .veel-testimonial-author {
    top: 150px;
    right: 0;
  }

  .veel-author-testimonial-name, .veel-author-position {
    font-size: 13px;
  }

  .veel-testimonial-arrows {
    bottom: 15px;
    left: 15px;
    width: 70px;
  }

  .veel-testimonial-arrow {
    width: 45px;
    height: 45px;
  }

  .veel-left-arrow::before, .veel-right-arrow::before {
    width: 12px;
    height: 15px;
  }
}

@media (max-width: 430px) {
  .veel-testimonial-box {
    width: 246px;
    height: 134px;
    top: 75px;
    left: 65px;
    right: 65px;
    font-size: 16px;
  }
  .veel-testimonial-container {
    width: 362px;
    height: 479px;
  }

  .veel-testimonial-background-layer {
    width: 341px;
    height: 280px;
    top: 113px;
    left: 10px;
    border-radius: 5px;
  }

  .veel-header-text {
    width: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
  }

  .veel-testimonial-subtext {
    top: 58px;
    font-size: 14px;
  }
  .veel-testimonial-author {
    top: 225px;
    right: 20px;
  }

  .veel-author-testimonial-name, .veel-author-position {
    font-size: 14px;
  }

  .veel-testimonial-arrows {
    bottom: 90px;
    left: 15px;
    width: 77px;
  }

  .veel-testimonial-arrow {
    width: 40px;
    height: 40px;
  }

  .veel-left-arrow::before, .veel-right-arrow::before {
    width: 12px;
    height: 16px;
  }

  .veel-decor {
    bottom: 20px;
    left: 50px;
  }
}
