*, *::before, *::after {
  box-sizing: border-box;
}

.topCitySection {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--fourth--color);
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: 45px 0 74px 37px;
  margin: 31px auto;
}

.topCity {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.veeltopCitySection {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--fourth--color);
  height: 511px;
  max-width: 100%;
  overflow: auto;
  padding: 45px 0 37px;
}

/* عنوان رأس المدينة */
.veelCityHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-inline-start: solid 6px var(--primary--color);
  height: 32px;
  padding-inline-start: 9px;
}

.veelCityHeaderTitle h2 {
  color: #000 !important;
  font-size: var(--veel--font-size-xx-large);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.veelTopCityHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  height: 150px;
  margin: 0 0 29px;
  color: #000;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
}

/* العناوين الفرعية للمدينة */
.veelCitySubHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline-start: 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.subHeadingParagraph p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* قسم الصور */
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 70%;
  height: 350px;
  gap: 20px;
  border-radius: 50%;
  overflow: auto;
}

.imgContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 125px;
}

.imgContent h4 {
  margin: 0;
}

/* المستطيلات */
.rectangle1, .rectangle2, .rectangle3, .rectangle4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}

.rectangle1 {
  background-image: url("src/img/img1.webp"), lightgray;
}

.rectangle2 {
  background-image: url("src/img/img2.webp"), lightgray;
}

.rectangle3 {
  background-image: url("src/img/im3.webp"), lightgray;
}

.rectangle4 {
  background-image: url("src/img/img1.webp"), lightgray;
}

/* إطار الأزرار */
.frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  position: relative;
  padding: 20px 0;
  height: 100px;
}

.frame .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding-inline:12px ;
  height: 40px;
  border: 2px solid var(--primary--color);
  border-radius: 20px;
  color: #D8C18B;
  text-decoration: none;
  transition: all 0.3s ease;
}

.frame .div-wrapper:hover {
  border-radius: 20px;
  border: 2px solid var(--primary--color);
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  color: #d8c18b;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
}

.priceBox {
  position: absolute;
  top: 40%;
  margin-inline-start: 15px;
  width: 109px;
  height: 28px;
  border-radius: 5px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* خط */
.line {
  background-color: black;
  width: 177px;
  height: 1px;
}

/* عرض الكل */
.showAll {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  width: 100%;
}

.show {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* زر الدعوة للعمل */
.cta {
  position: absolute;
}

.ctaStyle {
  width: max-content;
  border: none;
  position: relative;
  right: 70px;
  top: 5px;
}

/* معرض صور المدينة */
.cityImgGallery {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow: auto;
}

/* مؤشر المدينة */
.veelCursorsCity {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 1px;
  max-height: 0;
  margin: -200px -30px 0;
  position: absolute;
}

.veelCitybox, .veelCitylc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 81px;
  background-color: var(--primary--color);
}

/* عنوان عرض الكل في المدينة */
.veelCityHeaderShowAll {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

/* تعديلات الاستجابة */
@media screen and (max-width: 768px) {
  .veelCursorsCity {
    max-height: 0;
    width: 92%;
  }
}

@media screen and (max-width: 430px) {
  .topCitySection {
    padding: 45px 0px 74px 24px;
  }

  .veelCityHeaderTitle, .veelCitySubHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .veelCitybox, .veelCitylc {
    width: 23px;
    height: 63px;
  }

  .veelCursorsCity {
    max-height: 0;
    width: 98%;
  }
}

@media screen and (max-width: 375px) {
  .topCitySection {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--fourth--color);
    height: auto;
    margin: 31px auto;
    max-width: 100%;
    overflow: auto;
    padding: 29px 0 49px 0px;
  }

  .veelCursorsCity {
    max-height: 0;
    width: 100%;
  }
}
