.topCitySection {
  align-content: center;
  background-color: var(--fourth--color);
  display: flex;
  height: 511px;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 45px 0 74px 37px;
  margin: 31px auto;
}
.topCity {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.veelCityHeaderTitle {
  align-items: center;
  border-inline-start: solid 6px var(--primary--color);
  display: flex;
  height: 32px;
  padding-inline-start: 9px;
  justify-content: space-between;
}
.veelCitySubHeading {
  color: #000;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}
.veeltopCitySection {
  align-content: center;
  background-color: var(--fourth--color);
  display: flex;
  height: 511px;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 45px 0 37px;
}

.frame .div-wrapper:hover{
  border-radius: 20px;
  border: 2px solid var(--primary--color);
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.topCitySubHeading{
  display: grid;
  justify-content: start;
  align-items: center;
  width: 20%;
  margin-right: 20px;

}
.subHeadingParagraph p{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.veelBlogHeaderTitle h2 {
  color: #000 !important;
  font-size: var(--veel--font-size-xx-large);
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
}
.veelBlogHeaderTitle {
  align-items: center;
  border-inline-start: solid 6px var(--primary--color);
  display: flex;
  height: 32px;
  padding-inline-start: 9px;
}
.veelTopCityHeader {
  color: #000;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  gap: 28px;
  height: 150px;
  letter-spacing: .5px;
  line-height: 24px;
  margin: 0 0 29px;
}


.image{
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
  height: 350px;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: start;
  align-content: start;
  border-radius: 50%;

}

.imgContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 125px;
}
.imgContent h4{
  margin: 0;
}

.rectangle1{
  background: url("src/img/img1.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;
}
.rectangle2{
  background: url("src/img/img2.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.rectangle3{
  background: url("src/img/im3.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.rectangle4{
  background: url("src/img/img1.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  position: relative;
  padding: 20px 0;
  height: 100px;
}

.frame .div-wrapper {
  border: 1px solid;
  display: flex;
  width: 139px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  border-radius: 20px;
  border-color: var(--primary--color);
  color: #D8C18B;
  text-decoration: none;
}

.frame .text-wrapper {
  font-weight: 400;
  color: #d8c18b;
  position: relative;
  width: fit-content;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  direction: rtl;
}




.line {
  background-color: black;
  width: 177px;
  height: 1px;
}
.showAll {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  width: 100%;
}
.show {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cta {
  position: absolute;
}

.ctaStyle {
  width: max-content;
  border: none;
  position: relative;
  right: 70px;
  top: 5px;
}

.priceBox {
  position: absolute;
top: 40%;
  margin-right: 15px;
  width: 109px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cityImgGallery{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}
.veelCursorsCity {
  align-items: start;
  display: flex;
  height: 1px;
  max-height: 0;
  justify-content: space-between;
  margin-inline: -30px;
  position: absolute;
  margin-top: -200px;
  width: 90%;
}
.veelCitybox {
  width: 34px;
  height: 81px;
  background-color: var(--primary--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.veelCitylc {
  width: 34px;
  height: 81px;
  background-color: var(--primary--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.veelCityHeaderShowAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 425px){
  .veelCityHeaderTitle, .veelCitySubHeading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .veelCitybox, .veelCitylc {
    align-items: center;
    display: flex;
    height: 63px;
    justify-content: center;
    width: 23px;
  }
  .veelCursorsCity {
    max-height: 0;
    width: 98%;
  }
}
@media screen and (max-width: 425px){
  .topCitySection {
    padding: 45px 0px 74px 24px
  }
}
@media screen and (max-width: 375px){
  .topCitySection {
    align-content: center;
    background-color: var(--fourth--color);
    display: flex;
    height: 511px;
    justify-content: center;
    margin: 31px auto;
    max-width: 100%;
    overflow: hidden;
    padding: 29px 0 49px 0px;
  }
  .veelCursorsCity {
    max-height: 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px){

.veelCursorsCity {
  max-height: 0;
  width: 90%;
}
}
