.rectangle{
  width: 6px;
  height: 32px;
  flex-shrink: 0;
  background: var(--primary--color);
}
.fifthCompoundsHeader{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.Box{
  display: flex;
  width: 285px;
  height: 320px;
  padding: 15px 9px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
}
.boxImg{
  width: 267px;
  height: 177px;
  flex-shrink: 0;
  border-radius: 15px;
  background-image: url("../../../../src/img/boxImage.webp");
}
.boxNameandCta{
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxNameandCta p{
  color: #000;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}

.boxPrice{
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgba(106, 150, 210, 0.50);
}
.boxAddress{
  width: 260px;
  color: #707070;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  display: flex;
  justify-content: start;
  align-items: center;
}
.boxImgIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.arrowCircle{
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 17px;
  background: #FFF;
}
.price{
  display: flex;
  gap: 5px;
}
.boxPhoneWa .cta{
  display: flex;
  flex-direction: row;
  width: 65px;
}
.boxPhoneWa .call{
  width: 15px;
  height: 15px;
  border-radius: 7px;
}
.boxPhoneWa .wa{
  width: 15px;
  height: 15px;
  border-radius: 7px;
}
.compoundsBoxes{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}
.fifthCompoundsSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 1500px;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}
.pagination li {
  margin: 0 5px;
}
.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #007BFF;
  color: #007BFF;
  border-radius: 4px;
}
.pagination a.active {
  color: black;
}

.compoundsPagination{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  padding-top: 20px;
}
button{
  color: black;
  font-size: 30px;
  font-weight: bold;
  border: solid #007BFF 1px;
  border-radius: 5px;
  background-color: white;
}
button:hover{
  cursor: pointer;
}
.fifthCompoundsSection {
  width: 90%;
}


@media screen and (min-width: 1024px) and (max-width: 1440px){
  .fifthCompoundsHeader{
    width: 60%;
  }
  .firstSection{
    width: 90%;

  }
  .compoundsBoxes{

    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){

  .fifthCompoundsHeader{
    width: 60%;
  }
  .firstSection{
    width: 90%;

  }
  .compoundsBoxes{

    width: 100%;
  }

}
@media screen and (min-width: 430px) and (max-width: 768px){
  .fifthCompoundsHeader{
    width: 60%;
  }
  .firstSection{
    width: 90%;

  }
  .compoundsBoxes{

    width: 100%;
  }

  .compoundsPagination{
    width: 528px;
  }
.fifthCompoundsSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compoundsBoxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}
