.blogImageAndContentSection{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.blogImageAndContentSection p {
  width: 100%;
  flex-shrink: 0;
  color: #20201E;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}
.project-main-location {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}


.blogImageAndContentSection h2{
  border-right: 6px solid #D1B671;
  padding-right: 10px;
}
  .socialMediaShareContent{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: max-content;
    border: 0.883px solid #102231;
  }
  .socialMediaShare {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
.copyTheUrl{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.copyTheUrlContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #102231;
  padding: 10px;
}
.copyTheUrlContent span{
  color: #20201E;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and  (max-width: 430px){
  .socialMediaShare {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
.blogImageAndContentSection img {
  border-radius: 15px;
  flex-shrink: 0;
  height: auto;
  margin-bottom: 20px;
  width: 95vw;
  }
}
