:root{
    --primary-color:#D1B671;
    --secondary-color:#231F20 ;
    --background-section-color:#E9DEBE;
    --font-family: "Almarai", Helvetica;
    --color-white-900: rgba(255, 255, 255, 1);
    --color-dark-blue-300: rgba(161, 174, 203, 1);
    --colordark-blue100: rgba(225, 228, 234, 1);
    --colorblue500-base: rgba(0, 63, 229, 1);
    --font-arabic-bold-h500-16px-font-family: "IBM Plex Sans Arabic", Helvetica;
    --font-arabic-bold-h500-16px-font-weight: 700;
    --font-arabic-bold-h500-16px-font-size: 16px;
    --font-arabic-bold-h500-16px-letter-spacing: 0px;
    --font-arabic-bold-h500-16px-line-height: 24px;
    --font-arabic-bold-h500-16px-font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
