* {
  font-family: var(--veel--font-family) , sans-serif !important;
}
h1 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--xxx-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
h2 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--xx-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
h3 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--x-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
h4 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--x-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
h5 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--x-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
h6 {
  font-family: var(--veel--font-family);
  font-size: var(--veel--font-size--x-large);
  font-weight: 700;
  line-height: var(--veel--typography--line-height--tiny);
}
