

.veelTestmonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}
.allInOne{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow: auto;
}
.testmonialsContent{
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
  height: 350px;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: start;
  align-content: start;
  border-radius: 50%;
}
.testmonialsBox{
  width: 285px;
  height: 191px;
  flex-shrink: 0;
  display: grid;
  border-radius: 15px;
}

.testmonialsBox{
  width: 1009px;
  height: 198px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #231F20;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.para{
  width: 713px;
  height: 110px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.023%; /* 26.605px */
  text-transform: capitalize;

}
.img1{
  width: 90%;
  display: flex;
  justify-content: end;
}
.img2{
  width: 90%;
  display: flex;
  justify-content: start;
}
.rectangle{
  width: 1037px;
  height: 109px;
  flex-shrink: 0;
  background: #BCB8B7;
  position: absolute;
  z-index: -1;
}
.testmonialsH2{
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.5px; /* 198.611% */
  height: 70px;
}
.testmonialsParagraph p{
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.023%; /* 21.284px */
}
.testmonialAuthor{
  display: flex;
  flex-direction: row;
  width: 1009px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.rightSection{
  display: flex;
  gap: 20px;
}
.authorName{
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.023%; /* 21.284px */
  text-transform: capitalize;
}
.authorPosition{
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.023%; /* 21.284px */
  text-transform: capitalize;
}
.veelCursor{
  width: 1009px;
  display: flex;
  justify-content: end;
}

.goldenArrows{
  display: flex;
  justify-content: end;
  width: 1009px;
  align-items: start;
}
.right-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow:hover{
  fill: var(--primary--color);
}
.left-arrow, .right-arrow{
  cursor: pointer;
}
@media screen and (max-width: 430px){
  .testmonialsH2{
    color: #000;
    text-align: center;
    font-family: Cairo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.5px; /* 357.5% */
    width: 300px;
  }
  .testmonialsParagraph{
    color: #000;
    width: 300px;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.023%; /* 18.623px */
    text-transform: capitalize;
  }
  .testmonialsBox{
    width: 341px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #231F20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .img1{
    padding-top: 5px;
  }
  .img2{
    padding-bottom: 5px;
  }
  .rectangle{
    width: 362px;
    height: 194px;
    flex-shrink: 0;
  }
  .testmonialAuthor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 350px;
    padding-top: 20px;
  }
  .veelTestmonials{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testmonialsContent{
    width: 300px;
  }
  .goldenArrows{
    width: 350px;
  }
  .para{
    width: 280px;
    height: 204px;
  }
  .rightSection{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .testmonialsBox{
    width: 600px;
  }
  .rectangle{
    width: 620px;
  }
  .testmonialsContent{
    width: 600px;
  }
  .para{
    width: 500px;
  }
  .testmonialAuthor{
    width: 588px;
  }
}
