.project-body {
  width: 90% !important;
  margin: auto;
  display: block;
  padding: 0;
  max-width: 90%;
  margin-bottom: 30px;
  //box-shadow: rgb(0 0 0 / 24%) 0 0 10px 1px;
  border-radius: 15px;
}
.content-body {
  width: 90%;
p {
  color: #707070;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
  ul {
    display: flex;
    list-style-type: disc;
    gap: 8px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 9px;
    margin-inline-end: 9px;
    padding-inline-start: 50px;
    unicode-bidi: isolate;
    flex-direction: column;
  }
  li {
    line-height: 22px;
  }
  table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: #cfb771;
  }
  td {
    border: solid 1px black;
    padding: 10px;
    margin: 0;
  }
}
.project-facilities {
  display: flex;
  width: 90%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.project-facilities {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 21px;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  justify-content: center;
  justify-items: start;
  width: 90%;
  padding: 25px;
}
.facility-box {
  gap: 8px;
  display: inline-flex;
  height: 33px;
  padding: 8px 11px 8px 20px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--primary--color);
}

