.project-details-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
}

.project-details-grid-item-title {
  width: 120px !important;
  text-align: start !important;
  color: #707070;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project-details-grid-item-value {
  width: fit-content;
  text-align: start !important;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project-details-grid-item {
  font-size: 16px;
  color: #333;
  padding: 10px;
}

.project-details-grid-item:nth-child(odd) {
  font-weight: bold;
}

.project-details-grid-item:nth-child(even) {
  text-align: left;
}

@media screen and (max-width: 430px){
  .project-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
  }
}
