.authorDateContent{
  display: flex;
  gap: 20px;
}
.theAuthor{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}
.theDate{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

