.veel-related-card {
  display: flex;
  width: 100%;
  height: 315px;
  padding: 15px 9px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .1);
}
.veel-related-card-call-acton {
  display: flex;
}
.veel-related-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: fit-content;
}

.veel-related-card-image {
  width: 100%;
  height: 177px;
  position: relative;
}

.veel-related-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.veel-related-card-icon-container {
  width: 26px;
  height: 26px;
  padding: 4px;
  position: absolute;
  top: 10px;
  left: 14px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.veel-related-card-badge {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 11px;
  right: 14px;
  background-color: white;
  border-radius: 50%;
}

.veel-related-card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.veel-related-card-header {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  flex-direction: column;
}

.veel-related-card-icon-group {
  display: flex;
  width: 100%;
  gap: 7px;
  justify-content: space-between
}

.veel-related-card-whatsapp-icon, .veel-related-card-call-icon {
  width: 15.71px;
  height: 15.71px;
  background-color: #00DE3E; /* Adjust for different icons */
  border-radius: 7px;
}

.veel-related-card-location-name {
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.veel-related-card-location, .veel-related-card-location a {
  align-items: center;
  color: #707070 !important;
  display: flex;
  font-size: 12px;
  gap: 5px;
  text-decoration: none;
}

.veel-related-card-location-icon {
  width: 16px;
  height: 16px;
  background-color: #707070;
}

.veel-related-card-price-details {
  align-items: center;
  border: 1px solid rgba(106, 150, 210, .5);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
}

.veel-related-card-installment {
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-align: center;
  width: 50%;
}
.veel-related-card-total-price {
  display: flex;
  flex-direction: row-reverse;
  gap: 7px;
  text-align: start;
  width: 50%;
  justify-content: flex-end;
}

.veel-related-card-installment span {
  font-size: 10px;
  color: black;
}

.veel-related-card-total-price span {
  font-size: 14px;
  font-weight: 700;
  color: #357CDC;
}
