.cta {
  display: flex;
  width: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  position: fixed !important;
  bottom: 6vh !important;
  left: 1vw !important;
  z-index: 999 !important;
}
.call{
  display: flex;
  padding: 6.857px;
  justify-content: center;
  align-items: center;
  gap: 17.143px;
  align-self: stretch;
  border-radius: 15.429px;
  background: var(--primary--color);
}
.wa{
  display: flex;
  padding: 6.857px;
  justify-content: center;
  align-items: center;
  gap: 17.143px;
  align-self: stretch;
  border-radius: 15.429px;
  background: #00DE3E;
}
