/* Global Styles */
.contactForm {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: auto;
  background: #231f20;
}

.contactFormImg,
.contactFormImg img {
  width: auto;
  height: 307px;
  flex-shrink: 0;
  border-radius: 12px 12px 12px 22px;
}

.vellLogo {
  display: none;
}

.formHeader {
  color: white;
}

.formContent {
  margin: 10px 30px;
}

.formInputs {
  display: flex;
  gap: 5px;
}

.nameLocPhone,
.msgSubmit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input#name,
input#phone,
textarea#message,
select#options,
.helpForm input {
  display: flex;
  width: 305px;
  padding: 10px 12px;
  border-radius: 5px;
  background: #FFF;
  border: 1px solid var(--Color-Dark-Blue-100, #E1E4EA);
}

input#name,
input#phone,
.helpForm input {
  justify-content: flex-end;
  align-items: center;
  gap: 273px;
}

textarea#message {
  height: 85px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 273px;
  flex-shrink: 0;
}

select#options,
#options {
  justify-content: space-between;
  align-items: center;
}

.helpForm input {
  height: 17px;
}

textarea {
  display: flex;
  width: 280px;
  height: 67px;
  padding: 10px 12px;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 273px;
  flex-shrink: 0;
}

button.submitButton,
.helpForm button {
  display: flex;
  width: 308px;
  height: 42px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary--color);
  color: #fff;
}

.img img {
  height: 307px;
}

.contactFormGap {
  gap: 8px;
}

.contactFormBoxInputs {
  margin-inline-start: 0;
}

.contactFormBox {
  padding: 20px 75px;
}

.contactFormHeading h2 {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.contactFormHeading p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Media Queries */

/* Large Screens (1028px - 1440px) */
@media screen and (min-width: 1028px) and (max-width: 1440px) {
  .nameLocPhone input,
  input#name,
  input#phone,
  textarea#message,
  select#options,
  #options {
    width: 227px;
  }

  textarea,
  textarea#message {
    width: 100%;
  }

  button.submitButton,
  .msgSubmit button {
    width: 268px;
  }
}

/* Medium Screens (768px - 1027px) */
@media screen and (min-width: 768px) and (max-width: 1027px) {
  input#name,
  input#phone,
  textarea#message,
  select#options,
  #options {
    width: 225px;
  }

  input#name,
  input#phone,
  textarea#message {
    gap: 258px;
  }

  button.submitButton {
    width: 229px;
  }

  .formContent {
    display: flex;
    flex-direction: column;
  }
}

/* Small Screens (430px - 767px) */
@media screen and (min-width: 430px) and (max-width: 767px) {
  .contactForm {
    width: fit-content;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
  }

  .formInputs {
    display: flex;
    flex-direction: column;
  }

  .nameLocPhone input,
  input#name,
  input#phone,
  textarea#message {
    width: 279px;
  }

  select#options,
  #options {
    width: 305px;
  }

  .contactFormImg.col-4.desktopOnly.tabletOnly,
  .contactFormImg {
    display: none;
  }

  .vellLogo {
    display: flex;
    justify-content: flex-end;
  }
}

/* Extra Small Screens (up to 429px) */
@media screen and (max-width: 429px) {
  form.flex-row.contactFormGap {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }

  .contactFormBox {
    margin: auto;
    padding: 0;
  }

  input#name,
  input#phone,
  textarea#message {
    width: 242px;
  }

  select#options,
  #options {
    width: 241px;
  }

  button.submitButton {
    width: 243px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-content: center !important;
    width: 90%;
    height: 460px;
    margin: auto;
    border-radius: 12px;
    flex-shrink: 0;
  }

  .contactFormHeading {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
}
