.contactForm {
  width: 90%;
  height: 307px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: auto;
  background: #231f20;
}
.contactFormImg ,.contactFormImg img {
  width: auto;
  height: 307px;
  flex-shrink: 0;
  border-radius: 12px 12px 12px 22px;
}
.vellLogo{
  display: none;
}
.formHeader{
  color: white;
}
.formContent{
  margin: 10px 30px;
}
.formInputs{
  display: flex;
  gap: 5px;
}
#options{
  display: flex;
  width: 333px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid  #E1E4EA;
  background: #FFF;
}
.img img{
  height: 307px;
}
.helpForm input{
  display: flex;
  width: 305px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 273px;
  border-radius: 5px;
  background: #FFF;
  height: 17px;
}
.helpForm button{
  display: flex;
  width: 305px;
  height: 42px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary--color);
  color: white;

}

textarea{
  display: flex;
  width: 280px;
  height: 67px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 273px;
  flex-shrink: 0;
  border-radius: 5px;
}
.nameLocPhone{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.msgSubmit{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input#name , input#phone {
  display: flex;
  width: 305px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 273px;
  border-radius: 5px;
  border: 1px solid var(--Color-Dark-Blue-100, #E1E4EA);
  background: #FFF;
}
textarea#message {
  border-radius: 5px;
  border: 1px solid var(--Color-Dark-Blue-100, #E1E4EA);
  background: #FFF;
  display: flex;
  width: 305px;
  height: 61px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 273px;
  flex-shrink: 0;
}
select#options {
  border-radius: 5px;
  border: 1px solid var(--Color-Dark-Blue-100, #E1E4EA);
  background: #FFF;
  display: flex;
  width: 330px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
}
button.submitButton {
  align-items: center;
  background: var(--primary--color);
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  height: 42px;
  justify-content: center;
  padding: 12px;
  width: 332px;
  color: #fff;
}
.contactFormGap {
  gap: 8px;
}
.contactFormBoxInputs {
  margin-inline-start: 0;
}
.contactFormBox {
  padding: 20px 90px;
}
.contactFormHeading {
  h2 {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (min-width: 1028px) and (max-width: 1440px){
  .nameLocPhone input{
  width: 200px;
}
  .vellLogo{
    display: none;
  }
#options{
  width: 227px;
}
textarea{
  width: 240px;
}
.msgSubmit button{
  width: 268px;
}
}
@media screen and (min-width: 768px) and (max-width: 1027px){
  input#name, input#phone, textarea#message {
    background: #fff;
    border: 1px solid var(--Color-Dark-Blue-100, #e1e4ea);
    border-radius: 5px;
    display: flex;
    gap: 258px;
    justify-content: flex-end;
    padding: 10px 12px;
    width: 200px;
  }
  select#options {
    align-items: center;
    background: #fff;
    border: 1px solid var(--Color-Dark-Blue-100, #e1e4ea);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    width: 225px;
  }
  button.submitButton {
    align-items: center;
    background: var(--primary--color);
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    height: 42px;
    justify-content: center;
    padding: 12px;
    width: 229px;
  }
  .formContent{
    display: flex;
    flex-direction: column;
  }

  .img{
    display: none;
  }

}
@media screen and (min-width: 425px) and (max-width: 768px){

  .contactFormBox {
    margin-inline-start: -142px;
  }
  .contactForm{
    width: 83%;
    height: 307px;
    flex-shrink: 0;
    border-radius: 12px;
  }

  .formInputs{
    display: flex;
    flex-direction: column;
  }
  .nameLocPhone input {
    width: 279px;
  }
  #options{
    width: 305px;
  }
  .vellLogo{
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 425px) {
  form.flex-row.contactFormGap {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
  .contactFormBox {
    margin: auto;
  }
  .contactFormBox {
    padding: 0;
  }
  input#name, input#phone, textarea#message {
    width: 215px;
  }
  select#options {
    width: 241px;
  }
  button.submitButton {
    width: 243px;
  }
  .contactForm {
    border-radius: 12px;
    flex-shrink: 0;
    height: 460px;
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center !important;
  }
  .contactFormHeading {
    align-items: center !important;
    flex-direction: column !important;
    width: 80%;
    text-align: center;
    margin: auto;
  }
}
