.imgCall{
  display: flex;
  padding: 3.857px;
  justify-content: center;
  align-items: center;
  gap: 9.643px;
  border-radius: 8.679px;
  background: #0050BE;
}
.imgWhatsapp{
  display: flex;
  padding: 3.857px;
  justify-content: center;
  align-items: center;
  gap: 9.643px;
  border-radius: 8.679px;
  background: #00DE3E;
}
.imgCta{
  display: inline-flex;
  align-items: center;
  gap: 8.591px;
}
