.veelRelatedProjects{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.veelTestmonialsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.relatedProjectsSection {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 35px 0;
  width: 90%;
}
.veelSubHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;

}
.veelRelatedProjectsHeader {

}

.veelRelatedProjectsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.veelRelatedProjectsHeaderTitle h2 {
  color: #000 !important;
  font-size: var(--veel--font-size-xx-large);
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
}
.veelRelatedProjectsHeaderTitle {
  align-items: center;
  border-inline-start: solid 6px var(--primary--color);
  display: flex;
  height: 32px;
  padding-inline-start: 9px;
  width: 100%;
  justify-content: space-between;
}
.veelRelatedProjectsHeaderShowAll{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}

.rectangle {
  width: 6px;
  height: 32px;
  flex-shrink: 0;
  background: var(--primary--color);
}
.relatedProjectHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
}

.img{
  width: 285px;
  height: 191px;
  flex-shrink: 0;
  display: grid;
  border-radius: 15px;
}
.image {
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
  height: 350px;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: start;
  align-content: start;
  border-radius: 50%;
}

.relatedProjectsImgGallery {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  overflow-x: scroll;
  width: 99%;
  padding: 15px;
}
.imgContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 125px;
}

.CTA iframe{
  border: none;
  width: 60px;
  position: relative;
  top: 30px;
}

.CTA{
  width: max-content;
}
.rectangle1{
  background: url("src/img/img1.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.rectangle2{
  background: url("src/img/img2.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.rectangle3{
  background: url("src/img/im3.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.rectangle4{
  background: url("./../../img/img1.webp") no-repeat center center / cover, lightgray;
  border-radius: 15px;

}
.relatedProjectsCursors {
  align-items: start;
  display: flex;
  height: 0;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  margin-top: -200px;
}


.relatedProjectsSectionright-arrow{
  width: 34px;
  height: 81px;
  flex-shrink: 0;
  background: var(--primary--color);
  border: none;
  cursor: pointer;

}
.relatedProjectsSectionleft-arrow {
  width: 34px;
  height: 81px;
  flex-shrink: 0;
  opacity: 0.6;
  background: #e4b586;
  border: none;
  cursor: pointer;
}
.relatedProjectsSectiongoldenLine{
  width: 692.667px;
  height: 3.932px;
  flex-shrink: 0;
  background: var(--primary--color);
}
.relatedProjectsSectiongreyLine{
  width: 1096.667px;
  height: 1.333px;
  flex-shrink: 0;
  background: #F6FAFF;
  position: absolute;
  z-index: -1;
}
.relatedProjectsSectionveelLines{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

@media screen and (max-width: 430px) {
  .veelRelatedProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .projectImgeGallery{
    display: flex;
    gap: 70px;
    justify-content: start;
    overflow: auto;
    width: 400px;
    margin-top: 20px;
    position: relative;
  }
  .CTA{
    display: none;
  }
  .veelCursors{
    width: 400px;
    display: flex;
    justify-content: space-between;
  }
  .relatedProjectsSectiongreyLine {
width: 354px;

  }
  .relatedProjectsSectiongoldenLine{
    width: 304px;

  }
  .relatedProjectsSectionveelLines{
    display: flex;
    justify-content: center;
    width: 400px;
  }
  .img div{
    border-radius: 15px;
  }
  }
@media screen and (min-width: 1024px) and (max-width: 1440px){
  .relatedProjectsSectionveelCursors{
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .relatedProjectsSectionveelCursors{
    width: 90%;
  }
  .relatedProjectsImgGallery {
    gap: 15px;
    overflow-x: scroll;
    width: 100%;
  }
}
@media screen and (max-width: 375px){
  .veelRelatedProjectsHeaderTitle {
    align-items: center;
    border-inline-start: solid 6px var(--primary--color);
    display: flex;
    height: 50px;
    width: 90%;
    padding-inline-start: 9px;
    justify-content: space-between;
  }
  .relatedProjectsCursors {
    width: 100% !important;
  }
  .relatedProjectsSectionright-arrow , .relatedProjectsSectionleft-arrow {
    background: var(--primary--color)99;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    height: 70px;
    width: 24px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px){
  .veelRelatedProjects {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .relatedProjectsSectionveelLines {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
  }

  .relatedProjectsCursors{
    width: 95%;
  }
  .relatedProjectsImgGallery{
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: start;
    overflow-x: scroll;
  }
  .image{
    width: 1000px;
  }
  .CTA{
    display: none;
  }
  .veelSubHeading{
    width: 410px;
  }
  .relatedProjectsgoldenLine{
    width: 440px;
  }
  .relatedProjectsgreyLine{
    width: 478.667px;
  }
  .relatedProjectsveelLines{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 380px;
  }
}
